body {
    background-color: rgb(53, 65, 84);
}

#canvas1 {
    top: 30;
    left: 0;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    background: steelblue;
    /* z-index: -1; */
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
}

.info {
    margin: 20px;
    color: rgb(188, 183, 183);
    padding: .5rem;
    border: 0;
    border-radius: .3rem;
    overflow: visible;
}

.info:hover {
    background-color: azure;
    color: rgb(44, 57, 79);
}

a {
    color: lightcyan;
    text-decoration: none;
}

a:hover {
    color: rgb(62, 67, 140)
}

.traybtn {
    background-color: cornflowerblue;
    width: 3rem;
    height: 2rem;
    display: flex;
    margin: 0 .5rem .5rem 0;
    border: 0;
    border-radius: .3rem;
    padding: .5rem;
    justify-content: center;
}

.traybtn:hover {
    background-color: rgb(196, 222, 236);
    cursor: pointer;
}

context-menu {
    display: none;
    position: absolute;
    width: 250px;
    height: 150px;
    z-index: 9;
    background-color: #eee;
    color: #555;
    border: 0;
    border-radius: 6px;
}